-----BEGIN CERTIFICATE-----
MIIF6jCCA9KgAwIBAgIJAIhENOoT04SAMA0GCSqGSIb3DQEBCwUAMIGJMQswCQYD
VQQGEwJERTETMBEGA1UECAwKU29tZS1TdGF0ZTEXMBUGA1UEBwwOS2Fpc2Vyc2xh
dXRlcm4xEDAOBgNVBAoMB3ByaXZhdGUxFDASBgNVBAMMC2JhdW1pbmFvLmRlMSQw
IgYJKoZIhvcNAQkBFhV3ZWJtYXN0ZXJAYmF1bWluYW8uZGUwHhcNMTgwMjE4MTMz
OTIxWhcNMTkwMjE4MTMzOTIxWjCBiTELMAkGA1UEBhMCREUxEzARBgNVBAgMClNv
bWUtU3RhdGUxFzAVBgNVBAcMDkthaXNlcnNsYXV0ZXJuMRAwDgYDVQQKDAdwcml2
YXRlMRQwEgYDVQQDDAtiYXVtaW5hby5kZTEkMCIGCSqGSIb3DQEJARYVd2VibWFz
dGVyQGJhdW1pbmFvLmRlMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA
wxkUk8C+hhCOMvHkug8/yUcyg/QmdWTCbmMcSSsyrmq7pZUxDjPIT5zfg1IhVcpx
x5Z1hskg2LBClob0d/lLHDwXr5e1/NLSH61bUqRX7XomDodnmOOX4CieigcnV5Zm
AG279NOqvXNmtRnYz+eqYTlCJm2jQlVnUtacL85rTIZwf8AkrIc3ihFTfWTvNntx
Na/EK7Y71Va5+RbQeZcy9FHhkeUn145CtBI3sFG2G+vX0y4tNzPRWJCs0AKwn7pl
7+vHL4Rv6MBCl3on7ph8n5YQhhRf5yAkbVOzb0CHL0w6T84Ba/EwYHjYYh3sDGhE
zLI3AKmqHh9exMI2DNYSYpcte7HFZIrwLjx2P4r+zHwpRjDIDZkRagLFUYUaLhph
8pI0RMb27p+S4VIvsT6KUU9Vk/sq8KWOV1kUnMzRcoX3LPmIWxDCmf6ONXeAlhK2
8BTaXncix+eC6IZb3GRWNyd0RnRlMdIFsGL/wAg7YOcG3LdVBotQpsRxWfczcrPa
zc8MXNNwzdMQSKlfYuMqo+T5QuyZENV4FgiCi5zh3y4bFgKGla8m4H6qu3h7sazj
Tlfv7dBCTpuBM5DZX8i05jOXhLKa2/GnroWBVVJ96nwno+zogRkr/7m5ZlBz5wSq
FeOhiUQDk5IcsXKVcTxGv4P1Z5Thm1CgqQttKkqGrUUCAwEAAaNTMFEwHQYDVR0O
BBYEFBVivTuzX0lFnzIicVyv+JjfpEB0MB8GA1UdIwQYMBaAFBVivTuzX0lFnzIi
cVyv+JjfpEB0MA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAL7H
t+0R80Nscp2iu2cNICR3JS7C0c85IVE/6+l1J7luHoef8LBJ4T3tM3cP/HBGkm+f
2s/30A5P2F7Io9X8G0x8oRRs4X8YIK3psFSdhktc8P+DzHVeagFfxpJiaxP/zZn4
Fxq5NzwhwU5+0vB/1xBbLoRe88JQBSVhP/WWTd7MrkT5sOLwhor4i8Aw19KBMYJi
Z2Rkho3n4Rm3XgKSaLzzTWweZQ9SSCWTEw3tsci4S+9EYjAbd5/iFRjHgpLFdkCY
hkbuhuY96fD5yC4AhB/iwYLJnNtGS/DKZJVFJ0SJs1tK3L/vqUqNmqt9liVZ6HVP
rxIlXbFu9iMfcFbltJAdlj4NNzRCipK3HAcU48UOmH99nCaUfCSpMZQxzmTKS532
jGFJSSlqgvfmKyeFXdKkUVkSwC5mnUyBPhPXRHD/7Q65dhXT6QGW2PEG3FmEPdAd
jIBILhPrn/dLqYoPHhMjicmX4IaZP17VUq+W5rVP9gbLva/xOM9qLb0rUwWXrAjl
QXj/4RgMlbM8zQMo7YeLDSIZd/2NVFV9YVJ+3ZFUROfnnjZqVyq2lwsldypxPDB5
mFh7UxErm/84bpZ6ZjIHF4UBYmFvwKNBBVLUz9z5Sa9FdPd20dTHxCWkaBSw1S39
UVC7k7R3b3/8/dVaiSrK57Dn/FlkN+cfvy/SckMP
-----END CERTIFICATE-----
